body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}

.sidebar {
  text-align: left;
  height: 100vh;
  width: 240px;
  border: 1px
}

.main-body {
  display: flex;
  flex-direction: column;
}

button {
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

ul {
  list-style-type: none;
}

.all-results {
  display: none;
}

.all-results.active{
  display: block;
}
